<div class="container mb-5">
  <div class="row">
    <div class="col">
      <h1 class="head-title border-bottom border-secondary">{{ title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="popular" *ngIf="movies?.results?.length">
      <div class="inner-row">
        <div class="movie-card" *ngFor="let movie of movies?.results">
          <div class="movie-header movie-cover">
            <div class="header-icon-container">
              <img
                src="https://image.tmdb.org/t/p/w600_and_h900_bestv2{{movie.poster_path}}"
                alt="Movie"
              />
            </div>
          </div>
          <!--movie-header-->
          <div class="movie-content">
            <div class="movie-content-header">
              <a routerLink="/movie/{{movie.id}}">
                <h3 class="movie-title">{{ movie.title | ellipsis: 11}}</h3>
              </a>
            </div>
            <div class="movie-info">
              <div class="info-section">
                <span>{{ movie.release_date | date: 'MMM d, y' }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12" *ngIf="!movies?.results?.length">
      <h3>Nothing Movie</h3>
    </div>
  </div>
</div>
